@model scoreGr03.Models.Joueur

@{
    ViewData["Title"] = "Créer un nouveau Joueur";
}

<h1>Créer un nouveau Joueur</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipeId" class="control-label"></label>
                <select asp-for="EquipeId" class ="form-control" asp-items="ViewBag.EquipeId"></select>
            </div>
            <div class="form-group">
                <input id="createbt" type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour au listes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/CreateJoueurs.js"></script>
}
