@model scoreGr03.Models.Equipe

@{
    ViewData["Title"] = "Créer une nouvelle Équipe";
}

<h1>Créer une nouvelle Équipe</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label asp-for="Logo" class="control-label">logo</label>
                            <input asp-for="Logo"  class="form-control" />
                            
                        </div>
            
            <div class="form-group">
                <input id="createbt" type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour au listes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/CreateEquipes.js"></script>
}
