@model scoreGr03.Models.Match

@{
    ViewData["Title"] = "Créer un nouveau Match";
}

<h1>Créer un nouveau Match</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateHeure" class="control-label"></label>
                <input asp-for="DateHeure" id="dateheure" class="form-control" />
                <span asp-validation-for="DateHeure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreDomicile" class="control-label"></label>
                <input asp-for="ScoreDomicile" id="scoredomicile" class="form-control" />
                <span asp-validation-for="ScoreDomicile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreExterieur" class="control-label"></label>
                <input asp-for="ScoreExterieur" id="scoreexterieur" class="form-control" />
                <span asp-validation-for="ScoreExterieur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EquipeDomicileId"  class="control-label"></label>
                <select asp-for="EquipeDomicileId" id="equipedomicileid" class ="form-control" asp-items="ViewBag.EquipeDomicileId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EquipeExterieurId" class="control-label"></label>
                <select asp-for="EquipeExterieurId" id="equipeexterieurid" class ="form-control" asp-items="ViewBag.EquipeExterieurId"></select>
            </div>
            <div class="form-group">
                <input id="createbtm" type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour au listes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script asp-append-version="true" src="~/js/CreateMatches.js"></script>
}
