@model scoreGr03.Models.But

@{
    ViewData["Title"] = "Créer un nouveau But";
}

<h1>Créer un nouveau But</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Temps" class="control-label"></label>
                <input asp-for="Temps" id="temps" class="form-control" />
                <span asp-validation-for="Temps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JoueurId" class="control-label"></label>
                <select asp-for="JoueurId" id="joueurid" class ="form-control" asp-items="ViewBag.JoueurId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MatchId" class="control-label"></label>
                <select asp-for="MatchId" id="matchid" class ="form-control" asp-items="ViewBag.MatchId"></select>
            </div>
            <div class="form-group">
                <input id="createbtb" type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour au listes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script  asp-append-version="true" src="~/js/CreateButs.js"></script>
}
